.headerContainer {
    width: 100vw;
    height:10vh;
    background: rgb(113, 211, 211);
    color:#000c14;
    font-size:2rem; 
    justify-content:center;
    display:flex;
    flex-direction: column;
    align-items:center;
}

p {
    margin:0;
    text-align:center;
}